/* Tamanho padrão para tablets*/
@media only screen and (max-device-width: 768px) {
	.header-black ul {
		display: none;
	}
}
/* Tamanho padrão para smartphones*/

@media only screen and (max-device-width: 568px) {
	.header-black ul, #menu {
		display: none;
	}
	#logotipo {
		margin-left: 50%;
	}
	#btn-bars, #btn-search {
		color: #fff;
		font-size: 40px;
		position: absolute;
		top: -10px;
		background: none;
		border: none;
		display: block;
	}
	#btn-bars {
		left: 0;
	}
	#btn-search {
		right: 0;
		}
	#banner {
		height: 317px;
		background-size: cover;
		background-position: 0;	
		text-align: center;
	}
	#banner h1 {
		top: 180px;
		font-size: 48px;
		margin-left: 0;
	}
	#banner h1 small {
		font-size: 22px;
	}
	#news h2 {
		margin-left: 400px;
		margin-top: 20px;
		font-size: 32px;
	}
	#news hr {
		margin-left: 400px;
		border-width: 4px;
	}
}